name: Deploy Kotlin/WASM

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '19'

      - name: Build site
        run: ./gradlew wasmJsBrowserDistribution

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./composeApp/build/dist/wasmJs/productionExecutable

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
